/* .blog-img-placeholder {
  width: 100%;
  height: 300px;
}

.blog-img-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

@media (min-width: 700px) {
  .blog-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .blog-grid {
    grid-template-columns: repeat(3, 1fr);
  }
} */
