/* .testimonials-grid {
  grid-template-columns: 1fr;
}

.testimonial-card {
  text-align: center;
  padding: 24px;
}

.testimonial-avatar {
  width: 80px;
  height: 80px;
  margin: 0 auto 12px;
  border-radius: 50%;
  overflow: hidden;
}

.testimonial-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.testimonial-role {
  display: block;
  font-size: 14px;
  color: var(--color-subtext);
  margin-bottom: 12px;
}

@media(min-width:700px){
  .testimonials-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width:1000px){
  .testimonials-grid {
    grid-template-columns: repeat(3, 1fr);
  }
} */
