/* .footer {
  padding: 26px 0;
  background: #f3f4f6;
  border-top: 1px solid #e1e4ea;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-links {
  display: flex;
  gap: 18px;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.footer-links a {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 14px;
  transition: .2s;
}

.footer-links a:hover {
  color: var(--color-primary-dark);
} */
